$font-family-base: "Ubuntu", sans-serif;
$offcanvas-widh: 270px;
$topNavbarHeight: 58px;
$deep-saffron: #fb9538;
$old-lavender: #786e79;

* {
    font-family: $font-family-base;
}

.main-page {
    margin-left: $offcanvas-widh;
    margin-top: $topNavbarHeight + 10;

    @include media-breakpoint-down(lg) {
        margin-left: 0;
    }
}

.border-pink {
    border: 2px $pink-400 solid;
}
.border-orange {
    border: 2px $orange-400 solid;
}
.border-teal {
    border: 2px $teal-400 solid;
}

.scrollable-vertical {
    overflow-x: scroll;
    @include media-breakpoint-up(lg) {
        overflow-x: hidden;
    }
}

.text-deep-saffron {
    color: $deep-saffron;
}

.bg-old-lavender {
    background-color: $old-lavender;
}

.border-old-lavender {
    border: 2px $old-lavender solid;
}

.error-validation {
    font-size: smaller;
}

.button-action {
    width: 75px;
}
